/* Boxes */
.box{
    width: 80%;
    margin: 40px auto;
    border-radius: 10px;
    overflow: hidden;
}
/* Box text */
.box h1, .box h2, .box h3 {
    padding: 0;
    
}
.box p{
    padding: 0px 20px 20px 20px;
}
/* Box colors */
.box.blue{background-color: var(--blue)}
.box.medblue{background-color: var(--medblue)}
.box.lightblue{background-color: var(--lightblue)}
.box.red{background-color: var(--red)}
.box.medred{background-color: var(--medred)}
.box.lightred{background-color: var(--lightred)}
.box.yellow{background-color: var(--yellow)}
.box.white{background-color: var(--white)}
.box.blue-50{background-color: var(--blue-50)}
.box.medblue-50{background-color: var(--medblue-50)}
.box.lightblue-50{background-color: var(--lightblue-50)}
.box.red-50{background-color: var(--red-50)}
.box.medred-50{background-color: var(--medred-50)}
.box.lightred-50{background-color: var(--lightred-50)}
.box.yellow-50{background-color: var(--yellow-50)}
/* Box borders */
.box.blue-border{border: 2px solid var(--blue);}
.box.medblue-border{border: 2px solid var(--medblue);}
.box.lightblue-border{border: 2px solid var(--lightblue);}
.box.red-border{border: 2px solid var(--red);}
.box.medred-border{border: 2px solid var(--medred);}
.box.lightred-border{border: 2px solid var(--lightred);}
.box.yellow-border{border: 2px solid var(--yellow);}
.box.black-border{border: 2px solid var(--black);}
/* Box floats */
.box .float-container{width: 100%;}
.box .float-left{float:left;}
.box .float-20{width: 10%;}
.box .float-30{width: 20%;}
.box .float-40{width: 30%;}
.box .float-50{width: 40%;}
.box .float-60{width: 50%;}
.box .float-70{width: 60%;}
.box .float-80{width: 70%;}
.box .float-right{float: right;}
.box img{margin-left: auto;margin-right: auto;padding: 20px;}
/* Box Links */
a.contenttitle{
    font-family: 'Block', Arial, Helvetica, sans-serif;
    font-size: 36px;
    text-decoration: none;
}
a:hover.contenttitle{
    text-decoration: underline;
}
.box iframe{
    width: 90%;
    padding-bottom: 10px;
}