:root{
    /* Colors */
    --blue: #0040AE;
    --medblue: #005AF5;
    --lightblue: #478BFF;
    --red: #BF0B30;
    --medred: #F66582;
    --lightred: #FBB2C0;
    --yellow: #FFC700;
    --black: #222222;
    --white: #eeeeee;
}

/* Fonts */
@font-face{
    font-family: 'Blockletter';
    src: url(../fonts/Blockletter.otf);
}

/* All */
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/* Colors */
.blue-text{color: var(--blue)}
.medblue-text{color: var(--medblue)}
.lightblue-text{color: var(--lightblue)}
.red-text{color: var(--red)}
.medred-text{color: var(--medred)}
.lightred-text{color: var(--lightred)}
.yellow-text{color: var(--yellow)}
.white-text{color: var(--white)}

/* Body elements */
body{
    background-color: var(--white);
    color: var(--black);
}
.page-wrap{
    min-height: 100vh;
    position: relative;
}
.body{
    margin: 20px 5% 0 5%;
    padding-bottom: 64px
}
.center{
    text-align: center;
}
.body h1{
    font-family: 'Blockletter', Arial, Helvetica, sans-serif;
    font-size: 64px;
}
.body h2{
    font-family: 'Blockletter', Arial, Helvetica, sans-serif;
    font-size: 48px;
}
.body h3{
    font-size: 36px;
}
.body p{
    padding-top: 20px;
}
.body p a{
    color: var(--black);
    font-size: 20px;
    color: var(--medblue);
}
.body a:hover{
    color: var(--lightblue);
    text-decoration: underline;
    cursor: pointer;
}

/* Boxes */
.box{
    width: 80%;
    margin: 40px auto;
    border-radius: 10px;
    overflow: hidden;
}
/* Box text */
.box h1, .box h2, .box h3 {
    padding: 0;
    
}
.box p{
    padding: 0px 20px 20px 20px;
}
/* Box colors */
.box.blue{background-color: var(--blue)}
.box.medblue{background-color: var(--medblue)}
.box.lightblue{background-color: var(--lightblue)}
.box.red{background-color: var(--red)}
.box.medred{background-color: var(--medred)}
.box.lightred{background-color: var(--lightred)}
.box.yellow{background-color: var(--yellow)}
.box.white{background-color: var(--white)}
/* Box borders */
.box.blue-border{border: 2px solid var(--blue);}
.box.medblue-border{border: 2px solid var(--medblue);}
.box.lightblue-border{border: 2px solid var(--lightblue);}
.box.red-border{border: 2px solid var(--red);}
.box.medred-border{border: 2px solid var(--medred);}
.box.lightred-border{border: 2px solid var(--lightred);}
.box.yellow-border{border: 2px solid var(--yellow);}
.box.black-border{border: 2px solid var(--black);}
/* Box floats */
.box .float-container{width: 100%;}
.box .float-left{float:left;}
.box .float-20{width: 10%;}
.box .float-30{width: 20%;}
.box .float-40{width: 30%;}
.box .float-50{width: 40%;}
.box .float-60{width: 50%;}
.box .float-70{width: 60%;}
.box .float-80{width: 70%;}
.box .float-right{float: right;}
.box img{margin-left: auto;margin-right: auto;padding: 20px;}