:root{
    /* Colors */
    --blue: #0040AE;
    --medblue: #005AF5;
    --lightblue: #478bff;
    --red: #BF0B30;
    --medred: #F66582;
    --lightred: #fbb2c0;
    --yellow: #FFC700;
    --black: #222222;
    --white: #EEEEEE;
    /* Light colors */
    --blue-50: rgba(0, 64, 174, 0.5);
    --medblue-50: rgba(0, 90, 245, 0.5);
    --lightblue-50: rgba(71, 139, 255, 0.5);
    --red-50: rgba(191, 11, 48, 0.5);
    --medred-50: rgba(246, 101, 130, 0.5);
    --lightred-50: rgba(251, 178, 192, 0.5);
    --yellow-50: rgba(255, 199, 0, 0.5);
}

/* Fonts */
@font-face{
    font-family: 'Main';
    src: url(../fonts/Bigboz.otf);
}
@font-face{
    font-family: 'Block';
    src: url(../fonts/Blockletter.otf);
}

/* All */
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/* Colors */
.blue-text{color: var(--blue)}
.medblue-text{color: var(--medblue)}
.lightblue-text{color: var(--lightblue)}
.red-text{color: var(--red)}
.medred-text{color: var(--medred)}
.lightred-text{color: var(--lightred)}
.yellow-text{color: var(--yellow)}
.white-text{color: var(--white)}
.stroke{
    text-shadow:
    0 0 2px var(--black),0 0 2px var(--black),
    0 0 2px var(--black),0 0 2px var(--black),
    0 0 2px var(--black),0 0 2px var(--black),
    0 0 2px var(--black),0 0 2px var(--black),
    0 0 2px var(--black),0 0 2px var(--black),
    0 0 2px var(--black),0 0 2px var(--black),
    0 0 2px var(--black),0 0 2px var(--black),
    0 0 2px var(--black),0 0 2px var(--black),
    0 0 2px var(--black),0 0 2px var(--black),
    0 0 2px var(--black),0 0 2px var(--black),
    0 0 2px var(--black),0 0 2px var(--black),
    0 0 2px var(--black),0 0 2px var(--black),
    0 0 2px var(--black),0 0 2px var(--black),
    0 0 2px var(--black),0 0 2px var(--black),
    0 0 2px var(--black),0 0 2px var(--black),
    0 0 2px var(--black),0 0 2px var(--black);
    letter-spacing: 3px;
}

/* Body elements */
body{
    background-color: var(--white);
    color: var(--black);
}
.page-wrap{
    min-height: 100vh;
    position: relative;
}
.body{
    margin: 20px 5% 0 5%;
    padding-bottom: 64px;
}
.center{
    text-align: center;
}
.body h1{
    font-family: 'Main', Arial, Helvetica, sans-serif;
    font-size: 64px;
}
.body h2{
    font-family: 'Block', Arial, Helvetica, sans-serif;
    font-size: 48px;
}
.body h3{
    font-size: 36px;
}
.body p{
    padding-top: 20px;
}
.body p a{
    color: var(--black);
    font-size: 20px;
    color: var(--medblue);
}
.body p a:hover{
    color: var(--lightblue);
    text-decoration: underline;
    cursor: pointer;
}