:root{
    /* Colors */
    --blue: #0040AE;
    --medblue: #005AF5;
    --lightblue: #478BFF;
    --red: #BF0B30;
    --medred: #F66582;
    --lightred: #FBB2C0;
    --yellow: #FFC700;
    --black: #222222;
    --white: #EEEEEE;
}

/* Fonts */
@font-face{
    font-family: 'Main';
    src: url(../fonts/Bigboz.otf);
}
@font-face{
    font-family: 'Block';
    src: url(../fonts/Blockletter.otf);
}

/* All */
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/* Colors */
.blue-text{color: var(--blue)}
.medblue-text{color: var(--medblue)}
.lightblue-text{color: var(--lightblue)}
.red-text{color: var(--red)}
.medred-text{color: var(--medred)}
.lightred-text{color: var(--lightred)}
.yellow-text{color: var(--yellow)}
.white-text{color: var(--white)}
.stroke{
    text-shadow:
    0 0 2px var(--black),0 0 2px var(--black),
    0 0 2px var(--black),0 0 2px var(--black),
    0 0 2px var(--black),0 0 2px var(--black),
    0 0 2px var(--black),0 0 2px var(--black),
    0 0 2px var(--black),0 0 2px var(--black),
    0 0 2px var(--black),0 0 2px var(--black),
    0 0 2px var(--black),0 0 2px var(--black),
    0 0 2px var(--black),0 0 2px var(--black),
    0 0 2px var(--black),0 0 2px var(--black),
    0 0 2px var(--black),0 0 2px var(--black),
    0 0 2px var(--black),0 0 2px var(--black),
    0 0 2px var(--black),0 0 2px var(--black),
    0 0 2px var(--black),0 0 2px var(--black),
    0 0 2px var(--black),0 0 2px var(--black),
    0 0 2px var(--black),0 0 2px var(--black),
    0 0 2px var(--black),0 0 2px var(--black);
    letter-spacing: 3px;
}

/* Body elements */
body{
    background-color: var(--white);
    color: var(--black);
}
.page-wrap{
    min-height: 100vh;
    position: relative;
}
.body{
    margin: 20px 5% 0 5%;
    padding-bottom: 64px;
}
.center{
    text-align: center;
}
.body h1{
    font-family: 'Main', Arial, Helvetica, sans-serif;
    font-size: 64px;
}
.body h2{
    font-family: 'Block', Arial, Helvetica, sans-serif;
    font-size: 48px;
}
.body h3{
    font-size: 36px;
}
.body p{
    padding-top: 20px;
}
.body p a{
    color: var(--black);
    font-size: 20px;
    color: var(--medblue);
}
.body p a:hover{
    color: var(--lightblue);
    text-decoration: underline;
    cursor: pointer;
}

/* Boxes */
.box{
    width: 80%;
    margin: 40px auto;
    border-radius: 10px;
    overflow: hidden;
}
/* Box text */
.box h1, .box h2, .box h3 {
    padding: 0;
    
}
.box p{
    padding: 0px 20px 20px 20px;
}
/* Box colors */
.box.blue{background-color: var(--blue)}
.box.medblue{background-color: var(--medblue)}
.box.lightblue{background-color: var(--lightblue)}
.box.red{background-color: var(--red)}
.box.medred{background-color: var(--medred)}
.box.lightred{background-color: var(--lightred)}
.box.yellow{background-color: var(--yellow)}
.box.white{background-color: var(--white)}
/* Box borders */
.box.blue-border{border: 2px solid var(--blue);}
.box.medblue-border{border: 2px solid var(--medblue);}
.box.lightblue-border{border: 2px solid var(--lightblue);}
.box.red-border{border: 2px solid var(--red);}
.box.medred-border{border: 2px solid var(--medred);}
.box.lightred-border{border: 2px solid var(--lightred);}
.box.yellow-border{border: 2px solid var(--yellow);}
.box.black-border{border: 2px solid var(--black);}
/* Box floats */
.box .float-container{width: 100%;}
.box .float-left{float:left;}
.box .float-20{width: 10%;}
.box .float-30{width: 20%;}
.box .float-40{width: 30%;}
.box .float-50{width: 40%;}
.box .float-60{width: 50%;}
.box .float-70{width: 60%;}
.box .float-80{width: 70%;}
.box .float-right{float: right;}
.box img{margin-left: auto;margin-right: auto;padding: 20px;}
/* Box Links */
a.contenttitle{
    font-family: 'Block', Arial, Helvetica, sans-serif;
    font-size: 36px;
    text-decoration: none;
}
a:hover.contenttitle{
    text-decoration: underline;
}
.box iframe{
    width: 90%;
    padding-bottom: 10px;
}

/* Modals */
img.modal{
    cursor: pointer;
}
.modal-container{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(34,34,34,0.9);
}
.modal-content{
    margin: auto;
    display: block;
    height: 70%;
}
#modal-caption{
    margin: auto;
    display: block;
    width: 80%;
    text-align: center;
    color: var(--white);
    padding: 10px 0;
    height: 150px;
}
.modal-content, #modal-caption{
    animation-name: modalZoom;
    animation-duration: 0.5s;
}
@keyframes modalZoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
.close{
    position: absolute;
    top: 15px;
    right: 30px;
    color: var(--white);
    font-size: 40px;    
    transform: 0.3s;
}
.close:hover, .close:focus{
    color: #cccccc;
    text-decoration: none;
    cursor: pointer;
}