/* Navbar */
.nav{
    background-color: var(--blue);
    overflow: hidden;
}
#navcontent{
    margin-left: 10px;
}
.nav a{
    font-size: 24px;
    font-family: 'Block', Arial, Helvetica, sans-serif;
    color: var(--white);
    text-align: center;
    text-decoration: none;
    float: left;
    padding: 5px 10px 5px 10px;
    border-top: 5px solid var(--blue);
    border-bottom: 5px solid var(--blue);
}
.nav a:hover{
    color: var(--yellow)
}
.nav a.active{
    border-bottom: 5px solid var(--yellow);
}
.nav img{
    float: left;
    width: 44px;
    padding: 5px 10px 0 0;
    cursor: pointer;
}
/* Dropdown */
.dropdown{
    float: left;
    overflow: hidden;
}
.dropdown button{
    font-size: 24px;
    font-family: 'Block', Arial, Helvetica, sans-serif;
    color: var(--white);
    text-align: center;
    text-decoration: none;
    background-color: var(--blue);
    padding: 5px 10px 5px 20px;
    border: none;
    outline: none;
    border-top: 5px solid var(--blue);
    border-bottom: 5px solid var(--blue);
}
.dropdown button i{
    color: var(--white);
    padding-left: 10px;
    font-size: 20px;
}
.dropdown button:hover i{
    color: var(--yellow);
}
.dropdown button.active{
    border-bottom: 5px solid var(--yellow);
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: var(--blue);
    min-width: 160px;
    z-index: 1;
    margin-top: 0px;
    box-shadow: -5px 10px 10px rgba(34,34,34,1);
}
.dropdown-content a{
    float: none;
    color: var(--white);
    padding: 5px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-left: 5px solid var(--blue);
    border-top: none;
    border-bottom: none;
}
.dropdown-content a:hover{
    color: var(--yellow);
    border-top: none;
    border-bottom: none;
}
.dropdown-content a.active{
    border-left: 5px solid var(--yellow);
    border-top: none;
    border-bottom: none;
}
.dropdown:hover .dropdown-content{
    display: block;
}